@import "tailwindcss";
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


@theme {
 --text-primary: 79px;
 --color-primarycolor:#0d6dbf;
 --color-secondarycolor:#01c0eb;
 --font-barlow:'Barlow', 'sans-serif';
}